<%- include("partials/header") %>

<h1>ASKfm</h1>
<h4>curious? Just ask!</h4>
<h4>Openly or anonymously.</h4>
<br>
<a href="/login" class="btn btn-primary">Login</a>
<br><br>
<a href="/register" class="btn btn-primary">register</a>


<%- include("partials/footer") %>