<%- include("partials/header") %>

      <h1>hi there</h1>
      <br><br>
      <p><a href="user/register">register</a></p>
      <br>
      <p><a href="/user/login">Login</a></p>

<%- include("partials/footer") %>