<!DOCTYPE html>
<html>
    <head>
        <title>Main Page</title>
    </head>

    <body>
        
        <h1>hi there</h1>
        <br><br>
        <p><a href="user/signup">Signup</a></p>
        <br>
        <p><a href="/user/login">Login</a></p>

        <%-  %>

    </body>
</html>