<%- include("partials/header") %>

<h1>Login</h1>

<form action="/login" method="POST">
    <input type="checkbox" name="vehicle1" value=true>
    <label for="vehicle1"> I have a bike</label><br>
    <input type="text" name="username" placeholder="username">
    <br>
    <input type="password" name="password" placeholder="password">
    <br>
    <button>Submit</button>
</form>

<%- include("partials/footer") %>