<!DOCTYPE html>
<html>
    <head>
        <title>Main Page</title>
    </head>

    <body>
        
        <h1>Login</h1>

        <form action="/user/login" method="POST">
            <label for="email">email</label>
            <br>
            <input type="email" name="email" id="email">
            <br>
            <label for="password">username</label>
            <br>
            <input type="password" name="password" placeholder="password">
            <br>
            <button>login</button>
        </form>

    </body>
</html>