<%- include("../partials/header") %>
 
        <h1>Sign up</h1>

        <form action="/user/register" method="POST">
            <label for="email">email</label>
            <br>
            <input type="email" name="email" id="email" placeholder="email">
            <br>
            <label for="username">username</label>
            <br>
            <input type="text" name="username" placeholder="username">
            <br>
            <label for="password">username</label>
            <br>
            <input type="password" name="password" placeholder="password">
            <br>
            <button>register</button>
        </form>

<%- include("../partials/footer") %>