<%- include("../partials/header") %>

        
        <h1>Sign up</h1>

        <form action="/user/register" method="POST">
            <label for="email">email</label>
            <br>
            <% if(email){ %>
                <input type="email" name="email" id="email" placeholder="email" value=<%= email %>>
            <% } else{ %>
                <input type="email" name="email" id="email" placeholder="email">
            <% } %>
            <br>
            <label for="username">username</label>
            <br>
            <% if(username){ %>
                <input type="text" name="username" placeholder="username" value=<%= username %>>
            <% } else{ %>
                <input type="text" name="username" placeholder="username">
            <% } %>
            <br>
            <label for="password">username</label>
            <br>
            <input type="password" name="password" placeholder="password">
            <br>
            <button>register</button>
        </form>

<%- include("../partials/footer") %>