<%- include("../partials/header") %>

<h1>recent questions</h1>
<a href="/question/add" class="btn btn-primary">add a question</a>
<br><br>

<div class="container overflow-hidden">
    <% questions.forEach(question => { %>
        <div class="row gx-5">
            <div class="col">
             <div class="p-3 border bg-light">
                <p><%= question.content %></p>
                <p>asked by <%= question.user.username %></p>
             </div>
            </div>
        </div>
        <br>
    <% }) %>
</div>

<%- include("../partials/footer") %>